.app_task {
  padding-block: 10px;
  display: flex;
  align-items: center;
  font-size: 20px;
  width: 70%;
  margin-left: 5%;
  margin-bottom: 10px;
}

.app__mode {
  margin-right: 3%;
}

.checkbox {
  width: 22px;
  height: 23px;
  border-radius: 50%;
  border: 1px solid black;
}

.app__task__content {

}
.app__task__content__task {

}
.app__task__content__time {
  font-size: 18px;
  color: gray;
}