.newTodo {
  border-radius: 30px;
  width: 100%;
  height: 600px;
  background-color: #182141;

}
.newTodo__container {
  color: white;
  width: 90%;
  margin: 0 auto;
  padding: 10px;

}
.newTodo__topInfo {
  position: relative;
  display: flex;
  flex-direction: column;
}
.newTodo__title {
  margin-top: 50px;
  font-size: 22px;
  text-align: center;
  margin-bottom: 20px;
}
.newTodo__data {
  position: relative;
  & input {
    margin: 0 auto;
    border: 1px solid white;
    background: none;
    font-size: 17px;
    padding: 5px 10px;
    border-radius: 10px;
    color: white;
    display: block;
  }

}
.newTodo__error {
  font-size: 16px;
  text-align: center;
  padding: 70px 10px;
  text-decoration: underline 1px solid crimson;
}
.newTodo__data__link {
  margin-top: 14px;
  position: absolute;
  top: 40px;
  color: white;
  margin-left: 65%;
  padding: 5px 10px;
  border-radius: 10px;
  border: 1px solid white;
  transition: all 0.3s ease 0s;
  background: none;
  &:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
  &:active {
    font-size: 10px;
    padding: 7px 16px;
  }
}

.newTodo__backBtn {
  position: absolute;
  top: 5%; left: 5%;
  background: none;
  transition: all 0.3s ease 0s;
  &:before {
    content: '←';
    font-size: 30px;
    color: white;
  }
  &:hover {
    transform: rotate(-5deg);
  }
}