.app__nav {
  user-select: none;
  background-color: white;
  padding-block: 10px;
  font-size: 20px;

  ul {
    display: flex;
    justify-content: space-around;
  }
}

.outline {
  width: 90%;
  margin: 0 auto;
  height: 1px;
  background-color: gray;
}