.app_task {
  padding-block: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  width: 90%;
  margin-left: 5%;
  margin-bottom: 10px;
}
.app_task__main {
  display: flex;
}

.app__mode {
  margin-right: 3%;
}

.checkbox {
  width: 22px;
  height: 23px;
  border-radius: 50%;
  border: 1px solid black;
}

.app__task__content {

}
.app__task__content__task {
  transition: all 1s ease 0s;

}
.app__task__content__doneTask {
  text-decoration: line-through #858585;
  transition: all 1s ease 0s;

}
.app__task__content__time {
  font-size: 18px;
  color: gray;
}