.app_task {
  padding-block: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  width: 90%;
  margin-left: 5%;
  margin-bottom: 10px;
}
.app_task__main {
  display: flex;
}

.app__mode {
  position: relative;
  top: 5px;
  margin-right: 10%;
}

.checkbox {
  width: 22px;
  height: 23px;
  border-radius: 50%;
  border: 1px solid black;
}

.app__task__content {

}
.app__task__content__task, .app__task__content__doneTask {
  min-width: 160px;
  text-decoration: line-through rgba(255, 255, 255, 0);
  transition: all 0.5s ease 0s;
  user-select: none;
}
.app__task__content__doneTask {
  text-decoration: line-through #858585;
}
.app__task__content__time {
  user-select: none;
  font-size: 18px;
  color: gray;
}