.app {
  margin-top: 20px;
}

.app__container {
  max-width: 370px;
  margin: 0 auto;
}

.app__wrap {
  background-color: white;
  border-radius: 30px;
}

.app__main {
  background-color: white;
  min-height: 500px;
}




